.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 47%
    right: 25%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
  
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 620px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   

figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/banner_interno.svg") !important

// fondo RED introducción

.bloque-texto-g.color-secundario 
  background-image: url("../assets/curso/temas/fondo_intro.png") !important
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bloque-texto-g.color-acento-contenido
  background-image: url("../assets/curso/temas/t5/fondo.png") !important
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover



// bordes, fondos

.borde-redondo
  border-radius: 25px

.borde-recto
  border-radius: 0px

.borde-recto-abajo
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.borde-recto-arriba
  border-top-left-radius: 0px
  border-top-right-radius: 0px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.bgmorado
  background-color: #DAD7EF

.bgmoradoclaro
  background-color: #E2C6F4

.bgmoradomedio
  background-color: #B5AEE0

.bgamarillo
  background-color: #FFEDCC

.bgamarilloclaro
  background-color: #FFF6E6

.bgmoradoclaro
  background-color: #F8F1FC

.bgacentocontenido
  background-color: #FFA500

.fondotema2
  background: url('../assets/curso/temas/t2/fondo_tema2.png')
  background-repeat: no-repeat

.fondotema21
  background: url('../assets/curso/temas/t2/fondo_tema2_1.png')
  background-repeat: no-repeat

.bgespecial
  background: url('../assets/curso/temas/t3/fondo3.png')
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  

.cajon.color-primario
  background-color: #EDEBF7

.tarjeta--boton
  background: url('../assets/curso/temas/t4/fondo2tar.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover


// Acordion tema 1

.acordion__accion__btn--a
  background-color: #A4AF37
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)

.acordion .tarjeta--azul
  background-color: #4635B1

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #B5AEE0
  h3
    color: black

.acordion__titulo
  h3
    color: #fff

// subtitulo

.subt
  background-color: #FFA500
  border-radius: 30px
  padding: -10px -20px
  width: fit-content
  position: relative
  display: flex
  .ico
    position: relative
    margin-left: -12px
    padding: 0px
    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px

// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

.fa-check-circle:before
  content: url('../assets/curso/temas/check-morado.png')

.fa-shopping-cart:before
  content: url('../assets/curso/temas/t2/vineta_morada.png')

.fa-bell:before
  content: url('../assets/curso/temas/t3/vineta-blanca.png')

.lista-ul--separador.pequeno li 
    padding-bottom: 5px

.lista-ul--separador.pequeno2 li 
    padding-bottom: 10px


// botones ver

.tarjeta.fondoespecial
  background: url('../assets/curso/temas/t3/fondobt.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.boton.color-acento-botones *, .color-acento-botones.boton--sm * 
    color: black !important

// Tab A tema 2

.tabs-a__tab 
  background-color: #FFA500
  padding: 10px !important

.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: black !important

.tarjeta.color-primario 
  background-color: #DEF6D4 !important

.tarjeta.color-primario * 
  color: black !important

.fondosly
  background: url('../assets/curso/temas/t2/fondo_sly.png')  
  background-position: center
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  

// Pasos tema 2

.pasos-a.color-acento-contenido .pasos-a__circle div 
    color: black !important

// slyder tema 3 verde

.tarjeta--blanca
  background-color: #FFFFFF 

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: #A4AF37

.slyder-a__bullets__item
    background-color: #FFEDCC

.slyder-a__bullets__item--active 
    background-color: #FFA500
    border-color: #FFA500

// para que los botones no se estiren en mobile

.slyder-a__bullets__item--active 

@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 11px
        height: 11px
        margin: 0px 0.5px

@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px
    height: 30px

// tab tema 1

 
.escala-grises .tabs-b__tab 
  &.tabs-b__tab--active .tabs-b__tab__icon
    filter: grayscale(0)
    transition: all 0.2s ease-out
  .tabs-b__tab__icon  // activo
    filter: grayscale(1)
    transition: all 0.2s ease-out

.tabs-b
  border-bottom: none !important

// slyder tema 3

.fa-chevron-right:before 
    content: url('../assets/curso/temas/de.svg')

.fa-chevron-left:before 
    content: url('../assets/curso/temas/iz.svg')

.tarjeta--slyder.b1
  background: url('../assets/curso/temas/t3/fondo_tar.png')  
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  box-shadow: 0 5px 6px rgba(0,0,0,0.23), 0 5px 6px rgba(0,0,0,0.23)

.custom
  .horizontal-scroll__wrapper
    padding: 1rem 0.5rem 

.custom
  .horizontal-scroll
    align-items: stretch !important

.img-t
  width: auto
  height: auto

.img-a
  display: block
  margin: auto

// tarjetas pegadas

.tarjeta.fondo1
  background: url('../assets/curso/temas/t3/fondo-tar1-1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.tarjeta.fondo2
  background: url('../assets/curso/temas/t3/fondo-tar1-2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

// tarjetas boton

.cambiartarjeta
  background-image: url('../assets/curso/temas/t4/fondo2tar.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center 
  border-radius: 15px
  color: black
  &:hover
    background-image: url('../assets/curso/temas/t4/fondo1tar.png')
    color: white
    
.cambiartexto
  background-color: #FFA500
  color: black

// tarjetas tapas

.bg-degrade
  background: rgb(255, 219, 153);  
  background: linear-gradient(180deg, rgba(255, 219, 153, 0.78) 0%, rgba(255, 219, 153, 1) 100%); 
  
.tarjeta-foto-hover
  position: relative
  overflow: hidden
  &:hover
    .tarjeta-foto-hover__tarjeta
      transform: translateY(0%)

  &__titulo
    position: absolute
    bottom: 0
    width: 100%
  &__tarjeta
    transition: transform 0.3s ease-in-out
    position: absolute
    bottom: 0
    width: 100%
    height: 100%
    transform: translateY(100%)  

// tab tema 4

.tabs-c__tab--active:active, .tabs-c__tab--active:focus, .tabs-c__tab--active:hover 
  background-color: white !important
  font-weight: bold

.tabs-c__tab
  background-color: white
  
// pasos tema 6

.tarjeta.tarjeta--gris
  background-color: white

.linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right
  background-color: #A4AF37
  border-color: #A4AF37